/* --- Reset --- */
/* removing default browser styles */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--colour-background-2);
  color: var(--colour-foreground-1);
  font-family: var(--font-sans);
  font-size: var(--fs-m);
  line-height: var(--lh-loose);
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
